.LogInBox {
  border: inset black 5px;
  border-radius: 20px;
  width: 600px;
  height: 400px;
  display: grid;
  place-items: center;
}
#fl {
  display: grid;
  place-items: center;
}
.fg {
  margin-top: 30px;
  margin-bottom: 30px;
}
.LogInButton{
  margin-left: 50px;
}
