.AddMoneyButton {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  border: 5px inset rgba(223, 220, 11, 0.562);
}
#AddMoneyButton {
  margin-top: 100px;
  background: none;
}
#middle {
  display: flex;
  justify-content: center;
}
#middleText{
    text-align: center;
}
