.avatar1 {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: inset red 2px;
}
#avatar {
  align-items: center;
  text-align: center;
  justify-content: center;
}
#main {
  border-right: 1px inset black;
}
#avatar-bar {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}
