.Logo {
  margin-top: 10px;
  width: 200px;
  height: 62.8px;
  object-fit: cover;
}
.Icon {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
#menu-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
}
#menu {
  border-right: 1px inset black;
}
