.AvatarToGive {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: red solid 2px;
}
#GiveChoice {
  width: 500px;
  background-color: beige;
  margin-bottom: 5px;
}
#SearchModal {
  height: 550px;
  overflow-y: auto;
}
#Modal {
  width: 530px;
}
#Mid {
  text-align: center;
  width: 510px;
}
.red {
  color: red;
}
.Atatar{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid red;
}
.CoinImg{
    width: 480px;
    height: 480px;
    object-fit: cover;
    border: 5px inset brown;
}
.GoldImg{
    width: 480px;
    height: 480px;
    object-fit: cover;
    border: 5px inset yellow;
}