.HugeAvatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: black inset 5px;
  border-radius: 50%;
}
#InfoArea {
  margin-top: 30px;
  border-bottom: solid black 1px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
#Info {
  text-align: left;
}
.MediumIcon {
  height: 30px;
  object-fit: cover;
}
.EachPostImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.ListImgs {
  max-height: 400px;
  overflow-y: auto;
}
#Follow {
  background: none;
  color: blue;
}
#UnFollow {
  background: none;
  color: red;
}
#ADDButton {
  background: none;
  object-fit: cover;
}
#midRow {
  display: flex;
  align-items: center;
}
#midRow1 {
  display: flex;
  justify-content: center;
}
#mid{
  text-align: center;
}
#BigModal{
  width: 700px;
}
#ChangePass{
  background-color: #85827a;
  margin-top: 5px;
  margin-bottom: 5px;
  
}
#right1{
  margin-top: 10px;
  margin-left: 150px;
}
#right2{
  margin-top: 10px;
  margin-left: 10px;
}