.PostAvatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: red inset 2px;
  border-radius: 50%;
}
#Content {
  text-align: start;
}
#Header {
  border-bottom: 1px gray solid;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#PostBody{
    max-height: 400px;
    overflow-y: auto;
    padding-left: 15px;
    margin-bottom: 20px;
}
.CommentAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: red inset 1px;
}
#CommentText {
  text-align: start;
  word-wrap: break-word;
  word-break: break-all;
}
.likeNumber{
  background: none;
}
.button {
  width: 50px;
  background: none;
  object-fit: cover;
}
#EachComment {
  margin-bottom: 20px;
  background-color:#e9edf5 ;
  border-radius: 5px;
  border: #e9edf5 inset 2px;
}
#ForEachReply{
  margin-bottom: 5px;
  background-color:#eaf3f3 ;
  border-radius: 5px;
  border: #e3d969 inset 2px;
}
.Like {
  height: 20px;
  object-fit: cover;
}
.ReplyText{color: Red;}
#reply{
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
}
#input{
  width: 450px;
  margin-left: 20px;
}