.PostAvatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: inset red 1px;
  object-fit: cover;
}
#PostHeader {
  text-align: left;
}
#PostContent {
  text-align: justify;
}
#PostImg {
  text-align: left;
  width: 600px;
  object-fit: cover;
  margin-bottom: 10px;
}

#Post {
  width: 600px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.PostIcon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
#PostFooter {
  text-align: left;
}
.ListPosts {
  margin-top: 30px;
}
#PostButton {
  
  object-fit: cover;
  background: none;
}
