.Avatar {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid red;
  
}
#UserInfo{
text-align: left;
}
#HotUser{
    margin-bottom: 5px;
}
#WebInfo{
    text-align: left;
    margin-top: 30px;
}