#RegisterPage {
  display: grid;
  place-items: center;
}
.RegisterBox {
  border: inset black 5px;
  border-radius: 20px;
  width: 600px;
  height: 400px;
  display: grid;
  place-items: center;
}
#Label{
    text-align: left;
}
#Input{
    width: 500px;
}
#LEFT{
    display: flex;
}
#RegisterButton{
    margin-top: 20px;
}